*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --ff-01: 'Roboto Slab', serif;
  --ff-02: 'Barlow Condensed', sans-serif;
  --ff-03: 'Space Grotesk', sans-serif;

  --bg01: #00AEEF; /*bg header*/
  --bg02: #00A651; /*bg card-assistencia social*/
  --bg03: #ED1C24; /*bg card-esporte*/
  --bg04: #003399; /*bg card-inclusao digital*/
  --bg05: #6666CC; /*bg card-educaçao*/
  --bg06: #9A1B56; /*bg card-empregabilidade*/
  --bg07: #F4EDE5; /*bg footer*/
  --bg08: #FFDE59; /*bordar box-01 (balao 50 crianças)*/
  --bg09: #6ED8FF; /*bordar box-02 (balao 150 crianças)*/
  --bg10: #FEA5A9; /*bordar box-03 (balao 100 crianças)*/

  --text01: #00AEEF; /* box logo inicial, text header, h1*/
  --text02: #636363;/*text p*/
  --text03: #666460;/*text p footer*/
}
/* 
a{
  text-decoration: none;
  color: var(--text02);
} */

body{
  width: 100%;
  
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 auto; */
  /* justify-content: center; */
}

header{
  width: 100%;
  /* height: 5.6rem; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem 3rem;
  
  /* display: flex; */
  /* flex-direction: column; */
  position: fixed;
  top: 0;

  background: white;
}

.hide{
  display: none;
}

.header{
  display: flex;
  justify-content: space-between;
}


.header img{
  width: 6.3rem;
  height: 3.3rem;
  /* display: flex; */
  /* margin-left: 1rem; */
  /* justify-content: start; */
}

#nav-header{
  display: none;
  gap: 4rem;

  font-size: 2.4rem;
  line-height: 2.4rem;
}

#nav-header a {
  font-weight: 600;
  color: var(--text01)
}

/* menu mobile */
#menu{ 
  z-index: 100;
  width: 30px;
  height: 30px;
  top: 0px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#menu.active span {
  background-color:white; 
}

#menu span{
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--bg01);
  border-radius: 30px;
  transition: 0.2s all ease;
}

#menu span:nth-child(1){
  transform: translateY(-10px);
}

#menu span:nth-child(2){
  transform: translateY(10px);
}

#menu:hover span:nth-child(1){
  transform: translateY(-12px);
}

#menu:hover span:nth-child(2){
  transform: translateY(12px);
}

#menu.active span:nth-child(1){
  transform: translateY(-50px);
  opacity: 0;
}

#menu.active span:nth-child(2){
  transform: translateY(50px);
  opacity: 0;
}

#menu span:nth-child(3),
#menu span:nth-child(4){
  transform: rotate(0deg);
}

#menu.active span:nth-child(3){
  transform: rotate(-45deg);
}

#menu.active span:nth-child(4){
  transform: rotate(45deg);
}

#menuItem{
  visibility: hidden;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 1px;
  height: 1px;
  background-color: transparent;
  gap: 30px;
  clip-path: circle(25px at 35px 20px);
  z-index: 5;
  transition: 0.5s clip-path linear;
}

#menuItem.active{
  clip-path: circle(75%);
  background-color: var(--bg01);
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: visible;
}

#menuItem a{
  width: 180px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#menuItem img{
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

#menuItem a::after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height:2px;
  width: 0;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menuItem a:hover::after{
  width: 100%;
}

section{
  width: 100%;
  height: 100vh;
}

#logoP{
  width: 100%;
  height: 37.3rem; /* na minha versao nao tem altura*/

  background:linear-gradient(#0360EC, #A5BEFE);
  
  margin-top: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#logoP img{
  width: 33.9rem;
  height: 18.1rem;
  /* max-width: 18rem;
  max-height: 23rem;
  padding: 3rem 0; */
}

main{
  max-width: 37rem;
  display: flex;
  flex-direction:  column;
  padding: 0 3rem;

}

#main-box1{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  gap: 5rem;
  line-height: 3rem;

  margin: 5rem 0;
}

#wrap-main-box1{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  /* flex-direction: row; */
}

#content-main-box1{
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#content-main-box1 h1{
 font-family: var(--ff-02);
 font-size: 3rem;
 font-weight: bold;

 color: var(--text01);
}

#content-main-box1 p{
 font-family: var(--ff-02);
 font-size: 2rem;

 color: var(--text02);
 margin-top: 1.5rem;

 text-align: justify;

}

#wrap-main-box2{
  display: none;
}

#wrap-main-box2 h1{
  font-family: var(--ff-02);
  font-size: 3rem;
  font-weight: bold;
 
  color: var(--text01);
}

#wrap-main-box2 img{
  width: 90rem;
}

/* mobile */
#wrap-mobile-main-box2{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  
  margin-bottom: 5rem;
}

#wrap-mobile-main-box2 h1{
  font-family: var(--ff-02);
  font-size: 3rem;
  font-weight: bold;
 
  color: var(--text01);
}

#wrap-mobile-main-box2 img{
  width: 30rem;
}

/* main box03 */

/* box01 */

#wrap01-mobile #box01{
  width: 100%;
  height: 6rem;

  background: var(--bg01);
  color: white;
  border-radius: 2rem;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;

}

#wrap01-mobile #box01 button{
  background: transparent;
  border: none;

}

#box02-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 3rem;
  margin-bottom: 5rem;

  line-height: 2.3rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}


#content-box02-mobile img{
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  border: 5px solid var(--bg01);
  justify-content: fit-content;
}

#content-box02-mobile p{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  color: var(--text01);
}

#content-box02-mobile span{
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--text01);
}

/* box02 */
#wrap02-mobile #box01{
  width: 100%;
  height: 6rem;

  background: var(--bg03);
  color: white;
  border-radius: 2rem;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;

}


#wrap02-mobile #box01 button{
  background: transparent;
  border: none;

}

/* #box02-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 3rem;
  margin-bottom: 5rem;

  line-height: 2.3rem;
} */


#wrap02-mobile #content-box02-mobile img{
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  border: 5px solid var(--bg03);
  justify-content: fit-content;
}

#wrap02-mobile #content-box02-mobile p{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  color: var(--bg03);

}

#wrap02-mobile #content-box02-mobile span{
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--bg03);
}

/* box03  */
#wrap03-mobile #box01{
  width: 100%;
  height: 6rem;

  background: var(--bg04);
  color: white;
  border-radius: 2rem;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;

}

#wrap03-mobile #box01 button{
  background: transparent;
  border: none;

}

/* #box02-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 3rem;
  margin-bottom: 5rem;

  line-height: 2.3rem;
} */


#wrap03-mobile #content-box02-mobile img{
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  border: 5px solid var(--bg04);
  justify-content: fit-content;
}

#wrap03-mobile #content-box02-mobile p{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  color: var(--bg04);

}

#wrap03-mobile #content-box02-mobile span{
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--bg04);
}


/* wraper-main-box3 */
#main-box3{
  display: flex;
  flex-direction: column;
}
#main-box3 h1{
  font-family: var(--ff-02);
  font-size: 3rem;
  font-weight: bold;
 
  color: var(--bg01);
  margin-bottom: 2rem;
}

#wraper-main-box3{
 display: none;
  
}


/* diretor */
#content-box01{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text01);
}

#content-box01 img{
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  border: 5px solid var(--bg01);
  justify-content: fit-content;
}

#content-box01 p{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--bg01);
}

#content-box01 span{
  font-weight: bold;
  font-size: 1.5rem; 
  color: var(--bg01);
}


/* time tecnico */
#content-box02{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text01);
}

#content-box02 img{
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  border: 5px solid var(--bg03);
  justify-content: fit-content;
}

#content-box02 p{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--bg03);

}

#content-box02 span{
  font-weight: bold;
  font-size: 1.5rem; 
  color: var(--bg03);
}

/* voluntario */
#content-box03{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text01);
}

#content-box03 img{
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  border: 5px solid var(--bg04);
  justify-content: fit-content;
}

#content-box03 p{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--bg04);

}

#content-box03 span{
  font-weight: bold;
  font-size: 1.5rem; 
  color: var(--bg04);
}



/* wrap04-main */
#main-box4{
  width: 100%;
}

#main-box4 h1{
  font-family: var(--ff-02);
  font-size: 3rem;
  font-weight: bold;
 
  color: var(--text01);

}


#form-mobile{
  max-width: 37rem;;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  gap: 1.5rem;
}



#form-mobile label{
  color: var(--bg15);
  font-size: 1rem;
  border: 1px solid hsla(0, 0, 0, 38%);
}

#form-mobile input {
  width: 100%;
  height: 4rem;
  
  padding: .6rem;
  border-radius: 1rem;
  border: 1px solid hsla(0, 0, 0, 38%);
  
}

#form-mobile textarea {
  /* width: 1020rem; */
  height: 10rem;
  
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid hsla(0, 0, 0, .38);

  resize: none;

}

#form-mobile input::placeholder{
  color: rgb(182, 176, 176);
}

#for-mobile input, textarea::placeholder{
  color: rgb(151, 145, 145);
}

#form-mobile button{
  background-color: var(--bg15);
  width: 3.2rem;
  height: 2rem;
  color: white;
  border: none;
  border-radius: .5rem;
}

/* form desktop */
#box-form{
  max-width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;

}


#form{
  max-width: 100rem;

  display: flex;
  flex-direction: row;
  padding: .5rem;
  gap: 1.5rem;
  flex-wrap: wrap;

}



#form label{
  color: var(--bg15);
  font-size: 1rem;
  border: 1px solid hsla(0, 0, 0, 38%);
}

#form input {
  width: 100%;
  height: 4rem;
  
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid hsla(0, 0, 0, 38%);
  
}

.wrap-input-mobile{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
}

.wrap-input-mobile input:nth-child(2){
  margin-right: 3rem;
}

#form textarea {
  width: 100%;
  height: 10rem;
  
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;

  resize: none;

}

#form input::placeholder{
  color: rgb(182, 176, 176);
}

#form input, textarea::placeholder{
  color: rgb(151, 145, 145);
}

#form button{
  background-color: var(--bg01);
  width: 10rem;
  height: 4rem;
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  
}



footer{
  background-color: var(--bg07);
  padding: 3rem;

  font-family: var(--ff-03);
  font-size: 1.2rem;
  color: var(--text03);


  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer{
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem

}

.footer-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.footer-box p{
  max-width: 30rem;
}

.card-footer{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.footer a {
  color: var(--text03);
  font-weight: normal;
  
}

.card-footer-2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;

}



.footer-ano{
  display: flex;
  justify-content: center;

  font-weight: bold;
}

.footer-box02{
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
  display: none;
}

.footer-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.footer-box02 a{
  font-weight: bold;
  font-size: 2rem;
  font-family: var(--ff-03);
  color: var(--text03);
}

.footer-box02 span{
  font-size: 1.7rem;
  font-family: var(--ff-03);
  color: var(--text03);
}

@media(max-width: 699px){
  .footer-box {
    max-width: 100rem;
  }

  .card-footer{
    font-size: 1.3rem;
    width: 30rem;
  }
}


@media(min-width: 700px ){
  .header img{
    width: 14rem;
    height: 7rem;
  }

  #menu{
    display: none;
  }

  #nav-header{
    display: flex;
    align-items: center;
    gap: 3rem;

    font-size: 2rem;
    line-height: 2.4rem;
  }

  #logoP{
    margin-top: 15rem;
    margin-bottom: 6rem;
  }

  main{
    display: flex;
    justify-content: center;
    padding: 0 4rem;
  }

  .main{
    /* max-width: 60rem; */
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
  }

  .card-project{
    width: 100%;
    height: 22rem;
    flex-direction: row;
    gap: 4rem;
  }


  footer{
    padding: 2rem;
  }
  
  .footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: flex-start; */
    gap: 2rem
  }

  .footer-box01{
    margin: 0;
  }
  
  .footer-box{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem; */
  }

  .footer-logo img{
    width: 25rem;
  }
  
  .footer-box p{
    width: 25rem;
    margin-bottom: 2rem;
  }
  
  .card-footer{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    
    margin-bottom: 1rem;
    margin-bottom: 2rem;
  }

  .card-footer img{
    width: 2rem;
  }
  
  .footer a {
    color: var(--text03);
    font-weight: normal;
    font-size: 1.6rem;
    
  }
  
  .card-footer-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
  
  }
  
  
  
  .footer-ano{
    display: flex;
    justify-content: center;
  
    font-weight: bold;
  }
  
  .footer-box02{
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    display: flex;
  }
  
  /* .footer-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  } */
  
  
  .footer-box02 a{
    font-weight: bold;
    font-size: 2rem;
    font-family: var(--ff-03);
    color: var(--text03);
  }
  
  .footer-box02 span{
    font-size: 1.7rem;
    font-family: var(--ff-03);
    color: var(--text03);
  }

  .footer-logo img{
    width: 20rem;
    margin-top: 5rem;
  }
 


}


@media(min-width: 900px ){
  header{
    width: 100%;
    height: 15rem;
    padding: 1.5rem;
  }


  .header{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header img{
    width: 16.6rem;
    height: 9rem;
  }

  #menu{
    display: none;
  }

  #nav-header{
  display: flex;
  gap: 4rem;

  font-size: 2.4rem;
  line-height: 2.4rem;
  }

  #logoP{
    height: 35rem;
  }

  #logoP img{
    max-width: 35rem;
    max-height: 35rem;
    padding: 3rem 0;
  }

  main{
    padding: 2rem;
  
    max-width: 100rem;
  }

  h1{
    color: var(--text01);
    font: bold;
    display: flex;
    justify-content: center;

    font-size: 4rem;
  }

  

  footer{
    padding: 4rem;
  }

  .footer{
    display: flex;
    flex-direction: row;
  }

  .footer-box {
    width: 100%;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .card-footer{
    font-size: 1.3rem;
    width: 30rem;
    gap: 5rem;
  }

  .footer-box02{
    display: flex;
    
  }
  
  .footer-logo img{
    width: 20rem;
  }
 

 


}

@media(min-width: 1000px ){
  .main-box1{
    padding: 0 3rem;
  }

  .card-footer{
    gap: 2rem;
  }
}
  